#leftside {
    width: 468px;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#leftside p {
    font-size: 12px;
}

#rightside {
    width: 468px;
}

.widget .widgetContent {
    font-size: 11px;
    line-height: 130%;
}

#sfLinks {
    margin-top: 1em;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 1.5em;
}

.flair {
    margin-top: 1em;
    vertical-align: top;
    margin-right: 4px;
}