# Sux0r settings:

<IfModule mod_rewrite.c>

    RewriteEngine on

    # Restrict access to sux0r files from a single domain,
    # this is useful for shared servers with addon domains.
    # Adapt and uncomment the following:
    #
    # RewriteCond %{HTTP_HOST} !domain.com
    # RewriteRule (.*) $1 [F]


    # To redirect all users to access the site WITH the 'www.' prefix,
    # (http://domain.com/... will be redirected to http://www.domain.com/...)
    # adapt and uncomment the following:
    #
    # RewriteCond %{HTTP_HOST} ^domain\.com$ [NC]
    # RewriteRule ^(.*)$ http://www.domain.com/$1 [L,R=301]


    # To redirect all users to access the site WITHOUT the 'www.' prefix,
    # (http://www.domain.com/... will be redirected to http://domain.com/...)
    # adapt and uncomment the following:
    #
    # RewriteCond %{HTTP_HOST} ^www\.domain\.com$ [NC]
    # RewriteRule ^(.*)$ http://domain.com/$1 [L,R=301]


    # Modify the RewriteBase if you are using sux0r in a subdirectory or in a
    # VirtualDocumentRoot and the rewrite rules are not working properly.
    # For example if your site is at http://domain.com/my/sux0r uncomment and
    # modify the following line:
    #
    RewriteBase /~dac514/icbl


    # If your site is running in a VirtualDocumentRoot at http://domain.com/,
    # uncomment the following line:
    #
    # RewriteBase /


    # If you are using PHP in CGI Mode, then you probably need to uncomment
    # See: http://www.php.net/manual/en/features.http-auth.php
    #
    # RewriteCond %{HTTP:Authorization} ^(.*)
    # RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]


    # Rewrite URLs of the form 'index.php?c=x'.
    #
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?c=$1 [L,QSA]


</IfModule>

# Custom 404 Error, change accordingly
# ErrorDocument 404 /404.php

