ul#adminMenu {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
}

#adminMenu li {
    display: inline;
    list-style-type: none;
}

#adminMenu a { 
    padding: 3px 10px; 
}

#adminMenu a:link, #adminMenu a:visited {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

#adminMenu a:hover {
    color: #fff;
    background-color: #369;
    text-decoration: none;
}
