
label {
    float: left;
    width: 140px;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
}

fieldset {
    margin-bottom: 10px;
}

#placeholder {
    overflow: auto;
    margin: 10px;
}

.active {
    height: 140px;
    border: 1px solid #cccccc;
}