#leftside {
    margin: 10px;
    width: 160px;
}

#rightside {
    width: 738px;
}

.flair img {
    border: 0;
    margin-right: 4px;
}

.flair a {
    background: none;
}

label {
    float: left;
    width: auto;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
}

input, select {
    width: 350px;
}

/* Revert */

.htmlSelectDate select, .htmlSelectTime select {
    width: auto;
}
