#leftside {
    margin: 10px;
    width: 160px;
}

#leftside ul {
    margin-left: 15px;
    padding: 0;
}

#leftside li {
    margin-bottom: 4px;
}


#rightside {
    width: 738px;
}

/*
label {
    float: left;
    width: auto;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
}
*/

.widerInput {
    width: 350px;
}

.categoryContainer {
    border: 1px dashed #cccccc;
    padding: 10px;
}

.rssItem a:link, .rssItem a:visited, .rssItem a:active {
    color: #000000;
    text-decoration: none;
    font-style: italic;
}

.rssItem a:hover {
    color: red;
    background: none;
}

.rssItem img {
    border: none;
}