#leftside {
    width: 468px;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#leftside p {
    font-size: 12px;
}

#rightside {
    width: 468px;
}

.hl {
    background-color: pink;
}

.widget .widgetContent {
    font-size: 11px;
    line-height: 130%;
}

img.sux0rLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sfLinks {
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 1.5em;
}

.flair {
    vertical-align: top;
    margin-right: 4px;
}