#leftside {
    margin: 10px;
    width: 160px;
}

#leftside ul {
    margin-left: 15px;
    padding: 0;
}

#leftside li {
    margin-bottom: 4px;
}


#rightside {
    width: 738px;
}

.photo {
    border: 1px solid #999999;
    margin: 0 15px 15px 0;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.prevNext {
    text-align: right;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

a.previous  {
    text-decoration: none;
    margin-right: 1em;
}

a.next {
    text-decoration: none;
}


.description {
    border: 1px dashed #666;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}


.widerInput {
    width: 350px;
}


input.imageFile {
    width: auto;
    border: 0;
    background: none;
}

.thumbnail {
    float: left;
    border: 1px solid #999999;
    margin: 0 25px 25px 0;
    padding: 5px;
}

.thumbnailLinks {
    height: 1%; /* IE6, Holly Hack */
}


.photoAlbumItem {
    padding-left: 30px;
}

.annotateItem {
    border: 1px dashed #666;
    padding: 10px;
    margin: 10px;
    height: 1%; /* IE6, Holly Hack */
}

.annotateItemDesc {
    margin-left: 10px;
    width: 600px;
}

.annotateItemOptions {
    text-align: right;
    width: 180px
}

#leftside .editLinks, #rightside .editLinks  {
    float: none;
    padding: 8px;
    border: 1px dashed #ccc;
    height: 1%; /* IE6, Holly Hack */
    font-size: 11px;
    line-height: 100%;
}


#header .editLinks {
    margin-top: 0.5em;
    margin-left: 0.5em;
    height: 1%; /* IE6, Holly Hack */
}

.editLinks a {
    margin-right: 1em;
    height: 1%; /* IE6, Holly Hack */
}

.pager {
    margin-left: 30px;
}