#leftside {
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}

#middle2 {
    width: 468px;
}

#rightside {
    width: 250px;
}

img.rssIcon {
    border: 0;
    vertical-align: top;
}

input, select {
    width: 350px;
}

input.captcha {
    width: 175px;
}

.openidInput {
    background: #ffffff url("../assets/openid_icon.gif") no-repeat 0 50%;
    padding-left: 18px !important;
    padding-top: .2em !important;
}


ul.miniFeed {
    list-style-type: none;
    padding: 0;
}

.miniFeed li {
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 1px solid #cccccc;
}

/* Revert */

.htmlRadios label {
    width: auto;
    float: none;
    text-align: left;
    display: inline;

}

.htmlRadios input, .htmlSelectDate select {
    width: auto;
}

input.imageFile {
    width: auto;
    border: 0;
    background: none;
}

