/* {{{ Defaults */

body {
    background-color: #d0ccb1;
    margin: 0px;
}

body, tr, td {
    font-family: Verdana, Arial ,Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
}

a:link, a:visited, a:active {
    color: #867F7F;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #60b653;
    text-decoration: underline;
}

a.noBg {
    background: none;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 16px;
}

#encompasser {
    margin: 0px;
}

#proselytizer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    margin-top: 1%;
    margin-bottom: 1%;
}

#middle {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table#proselytizer {
    border-collapse: collapse;
    text-align: center;
    width: 1000px;
}

#header {
    position: relative;
    height: 147px;
    background-image: url('../header3.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

#header h1 {
    display: none;
}

#header .userinfo {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px;
    font-family: Arial ,Helvetica, sans-serif;
    font-size: 10px;
    background-color: white;
    border: 1px solid #867F7F;
}

#header img.openidLogin {
    vertical-align: middle;
    border: none;
}

#footer {
    font-family: Arial ,Helvetica, sans-serif;
    font-size: 11px;
    margin-top: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    background-color: #eeeeee;
    background-image: url('../header3.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    border: 1px solid #dddddd;
    height: 1%; /* IE6, Holly Hack */
}

#footer a {
    color: #000000;
}

.dataLicense, .dataLicense a {
    font-family: Arial ,Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
}

div.dataLicense {
    margin-bottom: 10px;
}

fieldset {
    border: 1px solid #000000;
    padding: 10px;
}

legend {
    color: #ffffff;
    background: #d0ccb1;
    border: 1px solid #ffffff;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

textarea, select, input[type="text"], input[type="password"], input[type="submit"], input[type="button"] {
    color: #000000;
    background: #d0ccb1;
    border: 1px solid #333333;
}

input[type="submit"], input[type="button"] {
    border: 2px outset #cccccc;
    width: auto;
    padding: 0.25em;
}

input[type="radio"], input[type="checkbox"] {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

input.button {
    color: #ffffff;
    background: #000000;
    border: 2px outset #cccccc;
    width: auto;
}

.errorWarning {
    font-size: 14px;
    font-weight: bold;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

.clearboth {
    clear: both;
    height: 1px;
    overflow: hidden;
}

#adminLink {
    color: #cccccc;
    margin-right: 0.4em;
}

#adminLink a {
    color: #999999;
}

.highlight {
    background-color: #d0ccb1;
}

img.croppable {
    padding: 4px;
    border: 1px dashed red;
}


/* }}} */


/* {{{ Pager */

.pager {
    margin-top: 5px;
    height: 1%; /* IE6, Holly Hack */
}

.pager a, .pager span {
    margin-right: 5px;
}

.pager .currentPage {
    font-weight: bold;
}

/* }}} */

/* {{{ genericBayesInterface */

/* Ajax trainers */

.nbInterface {

}

.nbInterface .nbCatDropdown {
    margin-right: 10px;
}

.nbVecTrained {
    color: green;
    font-weight:bold;
}

.nbCatDropdown {
    width: auto;
}

/*  Filters */

#nbf {
    font-size: 11px;
    margin-top: 5px;
    border: 1px solid white; /* IE6 Hack */
}

#nbSearchBox {
    float: right;
}

#nbSearch {
    width: 100px;
}

#nbfCategoriesForm, #nbfSliderForm {
    float: left;
}

#nbfSlider {
    float: left;
    margin-left: 1em;
    margin-top: 0.4em;
    width: 100px;
}

#nbfPercentage {
    font-size: 10px;
    float: left;
    margin-left: 0.5em;
    margin-top: 0.4em;
}

#nbfTopButton {
    margin-left: 0.5em;
}

#nbfThresholdButton {
    float: left;
    margin-left: 0.5em;
}

.nbfFilteredBy {
    color: red;
    margin-top: 0.5em;
}

/* }}} */


/* {{{ Horizontal Navigation Container */

#navcontainer {
    width: 100%;
    position: absolute;
    bottom: 15px;
}

#navcontainer ul {
    padding: 0;
    margin: 0;
    padding: 0 0 0 50px;
    color: #000000;
    font-weight: bold;
}

#navcontainer ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

#navcontainer ul li a {
    display: block;
    padding: 0.2em 12px;
    color: #000000;
    text-decoration: none;
}

#navcontainer ul li a:hover {
    background-color: #000000;
    color: #ffffff;
}

#navcontainer a.selected {
    color: #333333;
    background: #ffffff;
}

#navcontainer ul div {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    border: 1px solid #d0ccb1;
    z-index: 99;
}

#navcontainer ul div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #f0f0f0;
    color: #000000;
    letter-spacing: normal;
    font-weight: normal;
}

#navcontainer ul div a:hover {
    color: #fff;
    background: #000000;

}


/* }}} */


/* {{{ Vertical Menu Container */

.menucontainer {
    height: 1%; /* IE6, Holly Hack */
}

.menucontainer ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    font-weight: bold;
}

.menucontainer a {
    display: block;
    padding: 3px;
    background-color: #ff0000;
    border-bottom: 1px solid #eee;
}

.menulist li {
    display: inline;
}

.menucontainer a:link, .menulist a:visited {
    color: #EEE;
    text-decoration: none;
}

.menucontainer a:hover {
    background-color: #000000;
    color: #ffffff;
}

.menucontainer a.selected {
    color: #cccccc;
    background: #000000;
}

/* }}} */

/* {{{ Horizontal Admin Menu */

ul#adminMenu {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
    font-size: 11px;
}

#adminMenu li {
    display: inline;
    list-style-type: none;
}

#adminMenu a {
    padding: 3px 10px;
}

#adminMenu a:link, #adminMenu a:visited {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

#adminMenu a:hover {
    color: #fff;
    background-color: #369;
    text-decoration: none;
}


/* }}} */


/* {{{ Widget */

.widget {
    border-top: 3px solid #dddddd;
    border-right: 3px solid #dddddd;
    border-bottom: 3px solid #dddddd;
    border-left: 3px solid #dddddd;
    width: 100%;
    margin-top: 10px;
}

.widget h2 {
    font-size: 17px;
    background-image: url('../assets/bg2.jpg');
    background-color: #cccccc;
    color: #000000;
    margin: 0px 0px 20px 0px;
    padding: 5px 0px 5px 5px;
    border-bottom: 1px solid black;
    height: 1%; /* IE6, Holly Hack */
}

.widget h2 a:link, .widget h2 a:visited, .widget h2 a:active {
    text-decoration: none;
}

.widget .widgetContent {
    margin-left: 10px;
    margin-right: 10px;
    height: 1%; /* IE6, Holly Hack */
    font-size: 12px;
    line-height: 130%;
}

.widget .widgetContent h2 {
    background-color: #ffffff;
    color: #000000;
    margin: 0px;
    padding: 0px;
    border: none;
}

.widget .floatright {
    float: right;
    margin: 0 0 10px 10px;
    background-color: #ffffff;
    padding: 10px;
    border-top: 1px solid #999999;
    border-right: 2px solid #555555;
    border-bottom: 2px solid #555555;
    border-left: 1px solid #999999;
    margin-right: 10px;
}

.widget div.floatright img {
    border-top: 2px solid #555555;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 2px solid #555555;
}

.widget .floatleft {
    float: left;
    margin: 0 0 10px 10px;
    background-color: #ffffff;
    padding: 10px;
    border-top: 1px solid #999999;
    border-right: 2px solid #555555;
    border-bottom: 2px solid #555555;
    border-left: 1px solid #999999;
    margin-right: 10px;
}

.widget div.floatleft img {
    border-top: 2px solid #555555;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 2px solid #555555;
}

/* Bottom Corners */

b.bb, b.bb b {
    display: block;
    height: 10px;
    font-size: 1px;
    background:url(../assets/corners.gif) no-repeat;
    position:relative;
}

b.bb {
    background-position:0 0px;
    top:3px;
    left: -3px;
}

b.bb b {
    background-position:100% -10px;
    left: 6px;
}

/* }}} */

/* {{{ Admin table */

.adminTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.adminTable td, .adminTable th {
    padding: 4px;
}

.adminTable thead tr td {
    border: 1px solid #666666;
    background-color: pink;
    text-align: center;
}

.adminTable tbody tr td {
    border: 1px solid #666666;
    text-align: center;
}

.adminTable .selected {
    background-color: yellow;
}

/* }}} */


pre {
    /* Linewrap */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    width: 99%;
}


