/* {{{ Defaults */

body {
    margin: 0px;
    background-color: #cccccc;
}

body, tr, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: left;
}

a:link, a:visited, a:active {
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    background: #000000;
}

a.noBg {
    background: none;
}

#encompasser {
    width: 98%;
    margin: 1%;
}

#proselytizer {
    width: 962px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 3px solid #dddddd;
}

#middle {
    padding: 10px;
}

table#proselytizer {
    border-collapse: collapse;
    text-align: center;
}

#header h1 {
    float: left;
    margin: 10px;
    padding-top: 10px;
}

#header .userinfo {
    float: right;
    margin-top: 3px;
    margin-right: 5px;

}

#header img.openidLogin {
    border: 0;
    vertical-align: middle;
}

.thumbnail {
    float: left;
    border: 1px solid #999999;
    margin: 0 15px 15px 0;
    padding: 5px;
}

fieldset {
    border: 1px solid #000000;
}

legend {
    color: #ffffff;
    background: #ff0000;
    border: 1px solid #ffffff;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

input, select {
    color: #000000;
    background: #dddddd;
    border: 1px solid #333333;
}


.button {
    color: #ffffff;
    background: #ff0000;
    border: 2px outset #cccccc;
    width: auto;
}

.errorWarning {
    font-size: 14px;
    font-weight: bold;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

.clearboth {
    clear: both;
    height: 1px;
    overflow: hidden;
}


/* }}} */


/* {{{ Pager */

.pager {
    margin-top: 5px;
}

.pager a, .pager span {
    margin-right: 5px;
}

/* }}} */

/* {{{ genericBayesInterface */

/* Ajax trainers */

.nbInterface {

}

.nbInterface .nbCatDropdown {
    margin-right: 10px;

}

.nbVecTrained {
    color: green;
    font-weight:bold;
}

.nbCatDropdown {
    width: auto;
}

/*  Filters */

#nbf {
    margin-top: 5px;
}

#nbfCategories {
    float: left;
}

#nbfSlider {
    float:left;
    margin-left: 1em;
    padding-top: 0.5em;
}

#nbfTrack {
    width: 100px;
    background-color: #ccc;
    height: 10px;
    float: left;
}

#nbfHandle {
    width: 10px;
    height: 15px;
    background-color: #f00;
    cursor: crosshair;
}

#nbfPercentage {
    float: left;
    margin-left: 0.5em;
}

#nbfTopButton, #nbfThresholdButton {
    float:left;
    margin-left: 0.5em;
}

.nbfFilteredBy {
    float: left;
    margin-left: 0.5em;
    padding-top: 0.5em;
    color: red;
}

/* }}} */


/* {{{ Horizontal Navigation Container */

#navcontainer {
    width: 100%;
    float: left;
    background-color: #ff0000;
}

#navcontainer ul {
    padding: 0;
}

#navcontainer ul li {
    display: inline;
}

#navcontainer ul {
    margin: 0;
    padding: 0 0 0 7%;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: bold;
}

#navcontainer ul li a {
    padding: 0.2em 12px;
    background-color: #ff0000;
    color: #ffffff;
    text-decoration: none;
    float: left;
    border-right: 1px solid #ffffff;
}

#navcontainer ul li a:hover {
    background-color: #000000;
    color: #ffffff;
}

#navcontainer a.selected {
    color: #cccccc;
    background: #000000;
}

/* }}} */


/* {{{ Vertical Menu Container */

.menucontainer {

}

.menucontainer ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    font-weight: bold;
}

.menucontainer a {
    display: block;
    padding: 3px;
    background-color: #ff0000;
    border-bottom: 1px solid #eee;
}

.menucontainer a:link, .menulist a:visited {
    color: #EEE;
    text-decoration: none;
}

.menucontainer a:hover {
    background-color: #000000;
    color: #ffffff;
}

.menucontainer a.selected {
    color: #cccccc;
    background: #000000;
}

/* }}} */


/* {{{ Widget */

.widget {
    border-top: 3px solid #dddddd;
    border-right: 3px solid #dddddd;
    border-bottom: 3px solid #dddddd;
    border-left: 3px solid #dddddd;
    width: 100%;
    margin-top: 10px;
}

.widget h2 {
    background-color: #cccccc;
    color: #000000;
    margin: 0 0 20px 0;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid black;

}

.widget h2 a:link, .widget h2 a:visited, .widget h2 a:active {
    text-decoration: none;
}

.widget p {
    margin-left: 10px;
    margin-right: 10px;
}

.widget .floatright {
    float: right;
    margin: 0 0 10px 10px;
    background-color: #ffffff;
    padding: 10px;
    border-top: 1px solid #999999;
    border-right: 2px solid #555555;
    border-bottom: 2px solid #555555;
    border-left: 1px solid #999999;
    margin-right: 10px;
}

.widget div.floatright img {
    border-top: 2px solid #555555;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 2px solid #555555;
}


.widget .floatleft {
    float: left;
    margin: 0 0 10px 10px;
    background-color: #ffffff;
    padding: 10px;
    border-top: 1px solid #999999;
    border-right: 2px solid #555555;
    border-bottom: 2px solid #555555;
    border-left: 1px solid #999999;
    margin-right: 10px;
}

.widget div.floatleft img {
    border-top: 2px solid #555555;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 2px solid #555555;
}

/* Bottom Corners */

b.bb, b.bb b {
    display: block;
    height: 10px;
    font-size: 1px;
    background:url(../assets/corners.gif) no-repeat;
    position:relative;
}

b.bb {
    background-position:0 0px;
    top:3px;
    left: -3px;
}

b.bb b {
    background-position:100% -10px;
    left: 6px;
}

/* }}} */


pre {
    /* Linewrap */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    width: 99%;
}
