#leftside {
    width: 738px;
}

#rightside {
    margin-right: 10px;
}

label {
    float: left;
    width: 140px;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
}

fieldset {
    margin-bottom: 10px;
}

#placeholder1, #placeholder2 {

}

.active {
    height: 140px;
    overflow: auto;
    border: 1px solid #cccccc;
    margin: 10px;
    padding: 10px;
}


#bStats {
    border: 1px dashed black;
    padding-left: 4px;
    padding-right: 4px;
}

#bStats ul {
    margin-left: 0;
    padding: 0;
}


#bStats .bStatsVec {
    font-weight: bold;
    list-style-type: none;
}

#bStats .bStatsCat {
    margin-left: 15px;
}

#bStats .bStatsDoc {
    margin-left: 30px;
}

#bStats .bStatsTok {
    margin-left: 30px;
}

