#leftside {
    width: 738px;
}

#rightside {
    margin-top: 10px;
    margin-right: 10px;
}

table#proselytizer {
    border: 4px solid #dddddd;
}


label {
    float: left;
    width: 140px;
    margin-right: 0.5em;
    text-align: right;
}

fieldset {
    margin-bottom: 10px;
}

#placeholder1, #placeholder2 {

}

.active {
    height: 140px;
    width: 640px;
    overflow: auto;
    border: 1px solid #cccccc;
    margin: 10px;
    padding: 10px;
}

/* {{{ Shared vectors table */

.shared {
    width: 100%;
}

.shared thead tr {
    background: #ffffff;
}

.shared tr {
    background: #dddddd;
}

.shared tr.mine {
    background: #cccccc;
}

.shared tr.mineToo {
    background: #eeeeee;
}

.shared tr td{
    padding: 5px;
}


/* }}} */


/* {{{ Stats */


#bStats, #bStats ul {
    margin: 0;
    padding: 0;
}

#bStats {
    border: 1px dashed #666;
    padding: 8px;
}


#bStats .bStatsVec {
    list-style-type: none;
    font-weight: bold;
}

#bStats .bStatsCat {
    margin-left: 15px;
    font-weight: normal;
}

#bStats .bStatsDoc {
    margin-left: 30px;
    font-weight: normal;
}

#bStats .bStatsTok {
    margin-left: 30px;
    font-weight: normal;
}

#bStats .bStatsProb {
    margin-left: 30px;
    font-weight: normal;
}

/* }}} */