#leftside {
    margin: 10px;
    width: 160px;
}

#leftside ul {
    margin-left: 15px;
    padding: 0;
}

#leftside li {
    margin-bottom: 4px;
}


#rightside {
    width: 738px;
}

#recent {
    border: 1px dashed black;
    padding-left: 4px;
    padding-right: 4px;
}

#archives {

}

.flair img {
    border: 0;
    margin-right: 4px;
}

.flair a {
    background: none;
}

label {
    float: left;
    width: auto;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
}

input, select {
    width: 350px;
}

.categoryContainer {
    border: 1px dashed #cccccc;
    margin: 10px;
    padding: 10px;
}

.categoryContainer p {
    margin-left: 0px;
    margin-right: 0px;
}

/* Revert */

.htmlSelect select {
    width: auto;
}

input.imageFile {
    width: auto;
    border: 0;
    background: none;
}

input.revert, select.revert {
    width: auto;
}
