#leftside {
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}

#middle {
    width: 468px;
}

#rightside {
    width: 250px;
}

img.rssIcon {
    border: 0;
    vertical-align: top;
}

.calendar, .calendar caption {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.calendar th, .calendar td {
        text-align: center;
}

.calendar-month {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


label {
    width: 140px;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

input, select {
    width: 350px;
}

input.captcha {
    width: 175px;
}

.openidInput {
    background: #ffffff url("../assets/openid_icon.gif") no-repeat 0 50%;
    padding-left: 18px !important;
    padding-top: .2em !important;
}

/* Revert */

.htmlRadios label {
    width: auto;
    float: none;
    text-align: left;
    display: inline;

}

.htmlRadios input, .htmlSelectDate select {
    width: auto;
}
