#leftside {
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#middle2 {
    width: 468px;
}

#rightside {
    width: 250px;
    margin-top: 10px;
}

#lament {
    border: 1px dashed #666;
    padding: 4px;
}

img.rssIcon {
    border: 0;
    vertical-align: top;
}

input[type="text"], input[type="password"], select {
    width: 350px;
}

input.captcha {
    width: 175px;
}

input.openidInput {
    background: #ffffff url("../assets/openid_icon.gif") no-repeat 0 50%;
    padding-left: 18px !important;
    padding-top: .2em !important;
}

img.openidIcon {
    border: 0;
    vertical-align: middle;
}

ul.miniFeed, ul.miniFeed li {
    margin: 0;
    padding: 0;
}

ul.miniFeed {
    list-style-type: none;
    padding: 0;
}

ul.miniFeed li {
    margin-top: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #cccccc;
}

ul.openidManage li {
    padding-bottom: 0.5em;
}

img.friend, img.stalker {
    float: left;
    border: 1px solid #999999;
    margin: 0 20px 20px 0;
    padding: 5px;
}


/* Revert */

.htmlRadios label {
    width: auto;
    float: none;
    text-align: left;
    display: inline;

}

.htmlRadios input, .htmlSelectDate select {
    width: auto;
}

input.imageFile {
    width: auto;
    border: 0;
    background: none;
}

form.inplaceeditor-form textarea, form.inplaceeditor-form input[type="text"] {
    width: 100%;
}

form.inplaceeditor-form input[type="submit"] {
  width: auto;
}

