#header {
    background-image: url('../header1.jpg');
}

#footer {
    background-image: url('../header1.jpg');
}


.widerInput {
    width: 350px;
}

#nbf {
    margin-left: 10px;
    margin-right: 10px;
}

#rightside ul {
    margin-left: 15px;
    padding: 0;
}

#rightside li {
    margin-bottom: 4px;
}

.edit {
    text-align: right;
    color: red;
    height: 1%; /* IE6, Holly Hack */
}

.bookmarkItem {
    border: 1px dashed #666;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    line-height: 130%;
}

.approveItem {
    border: 1px dashed #ccc;
    padding: 10px;
    margin: 10px;
}

.approveItemOptions {
    margin-top: 20px;
}

.tagcloud{
    text-align: center;
    padding: 20px;
}

#rightside {
    margin-top: 10px;
    width: 240px;
}

.tags{
    margin-bottom: 0.5em;
    height: 1%; /* IE6, Holly Hack */
}

.sideListTitle {
    font-weight: bold;
    background-color: pink;
    padding: 3px;
    margin-right: 20px;
    margin-bottom: 1em;
}

.pager {
    margin-left: 10px;
}

.adminTable tr, .adminTable td {
    font-size: 11px;
}

.adminTable thead a {
    color: #000000;
}

